* {
    font-family: arial;
    font-size: 18px;
}

form {
    border: 1px black solid;
    max-width: 400px;
    padding: 30px;
    margin: auto;
}

label {
    display: inline-block;
    width: 150px;
}

input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}